# dependencies
/front/node_modules
/server/__debug_bin*.exe
/server/__debug_bin*

# testing
/coverage

# production
/dist
/server/dist
/server/static/static
/server/static/favicon.ico
/server/static/asset-manifest.json
